* {

    padding: 0%;
    margin: 0%;
  }

  li a {

    text-decoration: none;
    color: #05073C;
    font-size: 20px;
    padding: 25px;
  }
  
  ul {
    display: flex;
    /*ativa a propriedade de alinhamento*/
    flex-direction: row;
    /*coloca os elementos na horizontal*/
  }
  
  li {
    list-style: none;
    /*remove os pontos das lista*/
  }
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nome-cinza{
    color: #757575;
  }

  .btn{
    background-color: #EB662B;
    border-radius: 55px;
    height: 44px;
    width: 83.3px;
    border: none;
  }

  .banner {
    height: 702.1300048828125px;
    width: 1800px;
    background-image: url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .section-banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .banner-estrutura{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 25px;
        justify-content: center;
        align-items: center;
     }

     .texto-banner{
        display: flex;
        align-items: center;
        justify-content: center;
       color: #ffff;
       font-size: 40px;
    }

    .textinho{
        color: #ffff;
        display: flex;
       font-size: 10px;
    }

    .txt{
        color: #ffff;
    }

    .negocio{
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-color: aliceblue;
    }

    .where{
        color: #0000;
    }

    .search{
        color: #717171;
    }